.black {
    background-color: #1F2937;
    width: 100%;
    height: 500px;
    margin: 0%;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderTitle {
    color: aliceblue;
    flex-basis: 10%;
    font-family: 'Roboto'
}

.links {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.link {
    color: aliceblue;
    font-family: 'Roboto'
}

.spacer1 {
    flex-basis: 20%;
}

.spacer2 {
    flex-basis: 50%;
}

.Body1 {
    display: flex;
}

.textBody1 {
    color: aliceblue;
    font-family: 'Roboto'
}

.button {
    margin: 10px;
    display: flex;
    border-radius: 2px;
    background-color: rgb(34, 136, 184);
    width: 90px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.spacer3 {
    flex-basis: 3%;
}

.imgSS {
   height: 264px; 
   width: 486px;
   margin: 10px;
   border-radius: 7px;
}

.header2 {
    text-align: center;
    margin-top: 0px;
    padding: 25px;
    color: #1F2937;
    font-family: 'Roboto'
}

.infobox {
    background-color: #F9FAF8;
    width: 100%;
    height: 500px;
}

.boxarray {
    display: flex;
    justify-content: space-around;
}

.imglook {
    width: 200px;
    height: auto;
    align-self: center;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto'
}

.quotebox {
    background-color: #616a75;
    width: 100%;
    height: 500px;
    margin: 0%;
    display: flex;
}

.spacer4 {
    flex-basis: 20%;
}

.quote {
    font-size: 60px;
    font-family: 'Roboto'
}

.quotegiver {
    align-self: flex-end;
    font-size: 20px;
    font-family: 'Roboto'

}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
}

.action {
    background-color: #F9FAF8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonbox {
    width: 80%;
    height: 30%;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.spacer5 {
    flex-basis: 15%;
}

.buttontext {
    color: whitesmoke;
    font-family: 'Roboto'
}

.button2 {
    color: whitesmoke;
    background-color: rgb(82, 82, 250);
    width: 100px;
    height: 30px;
    border: 3px solid aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto'
}

.spacer6 {
    flex-basis: 40%;
}